#main-svg svg{
	width: 100%;
	height: 100%;
}


.main {
	margin-top: 50px;
	margin-left: 12%;
	margin-right: 12%;
	background-image: url("/static/images/map.svg");
	background-size: contain;
	background-repeat: no-repeat;
}

.sp-card {
	position: absolute;
	top: 15%;
	right: 3%;
	border: 3px solid red;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 50%;
	z-index: 900;
}

#analytics-button {
	position: absolute;
	left: 60px;
	top: 188px;
	width: 22%;
	height: 22%;
	padding:  1px;
	font-size: 1rem;
}

#analytics-button p {
	margin: 0;
}


#analytics-button img {
	max-width: 100%;
  	max-height:100%;
}

#analytics-card {
	position: absolute;
	left: 50%;
	top: 17%;
    transform: translate(-50%, 0);
    width: 75%;
    height: 70%;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    z-index: 1000;
}

.sp-image {
	max-width: 250px;
	margin-top: 2em;
	margin-bottom: 2em;
}

.area-hover:hover {
	fill: red;
}

#header-row {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 28px;
	
}


#header-row h2 {
	font-weight: 550;
	font-size: 2rem;
}
