.document-card {
	border-radius: 10px;
	height: 250px;
	width: 100%;
	position: relative;
  	text-align: center;
	padding: 0px;
	margin: .5rem;
	border: 2px solid blue;
	background-color: white;
}

.document-card img {
	max-width: 100%;
	max-height: 100%;
}

.main-wrapper {
	margin-left: 5%;
	margin-right: 5%;
	height: 80vh;
	background-image: url("/static/images/map.svg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.main {
	background-color: rgba(255, 255, 255, 0.6);
	height: 100%;
}

#document-wrapper {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#document {
	position: absolute;
	left: 50%;
	top: 14%;
    transform: translate(-50%, 0);
    height: calc(100vh - 15%);
    width: 60%;
    border: 3px solid #114499;
    border-radius: 10px;
    z-index: 999;
    background-color: white;
    box-sizing: border-box;
    overflow-y: scroll;
}

#document-wrapper button {
	position: fixed;
	bottom: 30px;
	right: 2%;
}

#document canvas {
	height: 88%;
	width: 100%;
	border: 1px solid #114499;
}
