.test {
	border-radius: 10px;
	height: 300px;
	width: 100%;
	position: relative;
  	text-align: center;
	color: white;
	padding: 0px;
	margin: .5rem;
	border: 2px solid blue;
}

.test img {
	max-width: 100%;
	max-height: 100%;
}

.main-wrapper {
	background-position: center;
	background-image: url("/static/images/map.svg") url("/static/images/cities.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.main {
	background-color: rgba(255, 255, 255, 0.6);
	height: 80vh;
	
}