.object-card {
	border-radius: 10px;
	border: 3px solid #114499;
	max-width: 50px;
	position: relative;
  	text-align: center;
	color: white;
	padding: 0px;
	margin: .5rem;
}

.object-card:hover {
	border-color: red;
}

.object-card img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.object-card a {
	color: white;
}

.centered-text {
	font-size: 170%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flexrow {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (min-width: 1700px) {
	.row-7-el > .element  {
	    flex: 0 1 calc(100%/12);
	    max-width: calc(100%/12);
	}
}
 


#data-table td{
	padding: 0 !important;
	line-height: 1.2em;
	font-size: 14px;
	font-weight: 600;
}

#data-table {
	font-size: 0.7rem;
}

.table-holder {
	margin-top: .5rem;
	height: 80vh;
	border: 3px solid #114499 !important;
	border-radius: 10px !important;
	background-color: white;
	padding: 10px 10px 10px 0px;
}

.table-holder > div {
	overflow-y: scroll;
	height: 100%;
}

.main-wrapper {
	margin-left: 5%;
	background-image: url("/static/images/map.svg");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-attachment: fixed;
}

#th-index {
	width: 20px;
}

#th-name {
	width: 100px;
}

#th-square {
	width: 100px;
}

.main {
	background-color: rgba(255, 255, 255, 0.6);
	
}