{% extends "base.html" %}
{% block title %}{{sp_data.name}}{% endblock %}
{% block style %}
   <link rel="stylesheet" type="text/css" href="/static/style/sp.css">
{% endblock %}
{% block header %}{{area_name}}<br>СТРУКРУРНОЕ ПОДРАЗДЕЛЕНИЕ {{sp_data.name}}{% endblock %}
{% block content %}
<div class="main-wrapper">
   <div class="main">
      <div class="row w-100 pt-3">
         <div class="col-6 col-md-8 d-flex justify-content-center">
         {% if sp_data.objects | length < 6 %}
            <div class="row justify-content-center align-content-center" style="height: 100%">
         {% elif sp_data.objects | length < 8 %}
            <div class="row justify-content-start align-content-center" style="height: 100%; width: 200px">
         {% elif sp_data.objects | length < 12 %}
            <div class="row justify-content-start align-content-center" style="height: 100%; width: 300px;">
         {% elif sp_data.objects | length < 20 %}
            <div class="row justify-content-start align-content-center" style="height: 100%; width:350px;">
         {% elif sp_data.objects | length < 50 %}
            <div class="row justify-content-start align-content-center" style="height: 100%; width:470px;">
         {% elif sp_data.objects | length < 100 %}
            <div class="row justify-content-start align-content-center" style="height: 100%; width: 640px;"> 
         {% elif sp_data.objects | length < 150 %}
            <div class="row justify-content-start align-content-center" style="height: 100%; width: 700px;">
         {% else %}
            <div class="row justify-content-start align-content-center" style="height: 100%;">
         {% endif %}
            {% for object in sp_data.objects %}
               <div class="object-card">
                  <a href="/sector/{{sector}}/sp/{{sp_number}}/object/{{loop.index}}">
                     <div class="centered-text fw">{{loop.index}}</div>
                     <img class="img-fluid" src="/static/images/{{base_url}}/sp-{{sp_number}}/{{loop.index}}.png">             
                  </a>
               </div>
            {% endfor %}
            </div>
         </div>
         <div class="col-5 col-md-3">
            <div class="table-holder w-100 text-center ms-2">
               <div>
                  <table id="data-table" class="table table-borderless">
                     <thead>
                        <th id="th-index" scope="col"></th>
                        <th id="th-name" scope="col" class="fs-5 pt-0 fw-normal align-middle">Название</th>
                        <th id="th-square" scope="col" class="fs-5 pt-0 fw-normal align-middle">Площадь<br>объекта, м<sup>2</sup></th>
                     </thead>
                     <tbody>
                     {% for object in sp_data.objects %}
                        <tr>
                           <td class="text-center" scope="row">{{loop.index}}</td>
                           <td class="text-start ms-1">{{object.name}}</td>
                           <td class="align-middle">{{object.square}}</td>
                        </tr>
                     {% endfor %}
                     </tbody>
                  </table>
               </div>   
            </div>
         </div>
         <div class="col-1 d-flex flex-column justify-content-end">
            <a class="btn" href="/?block={{sector}}">
               <img class="img-fluid" src="/static/icons/arrow_back.svg">
            </a>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block scripts %}
   <script type="text/javascript" src="/static/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}